node_modules
package*.json
.env
.env.example
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
README.md
docker-compose.yml
experimental.ts
instrumentation.ts
next-env.d.ts
next.config.mjs
notes.md
ormconfig.ts
package-lock.json
package.json
postcss.config.js
sentry.client.config.ts
sentry.edge.config.ts
sentry.server.config.ts
tailwind.config.ts
tsconfig.json
vitest.config.ts
vitest.setup.js
.next
.git
.github
